body {
  min-height: 100vh;
  background: $background;
}

.home canvas {
  cursor: move;
}

.inner-container {
  padding: 6px;
  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}
