.works-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  padding: 0 6px 6px;
  a {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 20px;
      background-color: black;
      aspect-ratio: 1;
    }
    .category-wrapper {
      position: absolute;
      bottom: 6px;
      right: 6px;
      display: flex;
      gap: 6px;
      .category-label {
        padding: 2px 5px 1px;
        background-color: #fff;
        font-size: 0.625rem;
        &.scss {
          background-color: #ca6899;
        }
        &.javascript {
          background-color: #f6de3b;
        }
        &.react {
          background-color: #67dbf9;
        }
        &.vue-js {
          background-color: #54bf8e;
        }
        &.php {
          background-color: #787cb2;
        }
        &.wordpress {
          background-color: #27769a;
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.5rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.25);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 1;
      line-height: 1.15;
    }
    &:hover .title {
      opacity: 1;
    }
  }
}
@media (max-width: 1024px) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .works-container {
    grid-template-columns: repeat(1, 1fr);
    a {
      img {
        padding: 40px;
      }
      &:hover .title {
        opacity: 0;
      }
    }
  }
}
